<!DOCTYPE html>
<html>
<head>
    <link as="font" crossorigin href="/__view/firac.ttf" rel="preload" type="font/ttf">
    <link as="font" crossorigin href="/__view/icon.woff2" rel="preload" type="font/woff2">
    <link href="/__view/login/login.css?nocache1" rel="stylesheet" type="text/css"/>
    <link href="/__view/login/loginp.css?nocache1" media="all and (orientation:portrait)" rel="stylesheet"
          type="text/css"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <title>AnimeTV</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="hide" id="animetv"></div>
<script src="/__view/login/login.js?nocache"></script>
</body>
</html>